.menu-slider-container {
   width: 95%;
   margin: 25px auto;
   height: 532px;
}
.menu-slider-img {
   object-fit: fill;
   height: 532px;
   width: 100%;
}
@media screen and (min-width: 1200px) {
   .menu-slider-img {
      object-fit: contain;
   }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
   .menu-slider-img {
      object-fit: contain;
   }
}
