@import "react-slideshow-image/dist/styles.css";

.slider-img {
   height: 616px;
   object-fit: cover;
   width: 100%;
}
.text-overlay {
   z-index: 1;
   position: absolute;
   color: white;
   top: 20%;
   left: 3%;
   text-align: center;
   text-shadow: 1px 2px black;
   font-size: 25px;
   width: 90%;
   line-height: 1.3em;
}
.btn-slider {
   position: absolute;
   bottom: 21rem;
   left: 100px;
   margin-top: 8px;
   color: white;
   font-size: 16px;
   background-color: #222c41;
   border: none;
   height: 46px;
}
@media screen and (min-width: 1200px) {
   .text-overlay {
      font-size: 45px;
   }
   .btn-slider {
      left: 40rem;
      bottom: 5rem;
      font-size: 22px;
      height: 53px;
   }
}
@media screen and (min-width: 600px) and (max-width: 800px) {
   .text-overlay {
      font-size: 30px;
   }
   .btn-slider {
      left: 288px;
   }
}
